@charset "UTF-8";
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  background-color: #FFFFFF;
  color: #000000;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

img {
  display: block;
  max-width: 100%;
}

.page-header__logo {
  display: block;
  margin-right: 93px;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  color: #000000;
}
.logo__part {
  color: #2196F3;
}

.footer__logo {
  display: block;
  margin-top: 0;
  margin-bottom: 20px;
  color: #FFFFFF;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}
.page-header {
  border-bottom: 1px solid #ECECEC;
}

.menu__open--icon {
  fill: currentColor;
}

.site-nav__link {
  font-family: inherit;
  color: #212121;
  font-weight: 500;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link:hover, .site-nav__link:focus {
  color: #2196F3;
}

.site-nav__current {
  color: #2196F3;
}
.site-nav__current:hover, .site-nav__current:focus {
  color: #212121;
}

.header-contacts__link {
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contacts__link:hover, .header-contacts__link:focus {
  color: #2196F3;
}

.header-contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

@media screen and (max-width: 767px) {
  .menu.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
  .page-header__container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .page-header {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .page-header__logo {
    display: block;
  }
  .menu {
    position: relative;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FFFFFF;
    width: 100%;
    padding: 48px 40px;
  }
  .menu__open, .menu__close {
    width: 40px;
    height: 40px;
    display: block;
    padding: 0;
    border: none;
    outline: none;
    color: #212121;
    background-color: #FFFFFF;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu__open:focus, .menu__open:hover, .menu__close:focus, .menu__close:hover {
    color: #2196F3;
  }
  .menu__close {
    position: absolute;
    top: 0;
    right: 15px;
  }
  .menu__close:hover, .menu__close:focus {
    color: #2196F3;
  }
  .site-nav__link {
    font-size: 40px;
    line-height: 1.17;
  }
  .site-nav__item:not(:last-child) {
    margin-bottom: 32px;
  }
  .site-nav__item:last-child {
    margin-bottom: 302px;
  }
  .header-contacts__icon {
    display: none;
  }
  .header-contacts__item:not(:last-child) {
    margin-bottom: 32px;
  }
  .header-contacts__item:last-child {
    margin-bottom: 64px;
  }
  .header-contacts__item:not(:last-child) > .header-contacts__link {
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #2196F3;
  }
  .header-contacts__item:not(:last-child) > .header-contacts__link:hover, .header-contacts__item:not(:last-child) > .header-contacts__link:focus {
    color: #757575;
  }
  .header-contacts__item:last-child > .header-contacts__link {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
  }
  .social-names__item {
    list-style: none;
  }
  .social-names__item:not(:last-child) {
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
  .social-names__item:not(:first-child) {
    padding-left: 10px;
  }
  .social-names {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-left: 0;
  }
  .social-names__link {
    font-family: inherit;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: #2196F3;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social-names__link:hover, .social-names__link:focus {
    color: #212121;
  }
}
@media screen and (min-width: 768px) {
  .menu__open, .menu__close {
    display: none;
  }
  .social-names {
    display: none;
  }
  .site-nav__link {
    font-size: 14px;
  }
  .header-contacts__link {
    font-size: 12px;
  }
  .header-contacts__icon {
    margin-right: 8px;
  }
  .header-contacts__icon--tel {
    width: 10px;
    height: 14px;
  }
  .header-contacts__icon--mail {
    width: 14px;
    height: 10px;
  }
  .header-contacts__item:last-child {
    margin-bottom: 10px;
  }
  .site-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 84px;
  }
  .site-nav__item:not(:last-child) {
    margin-right: 50px;
  }
  .page-header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 21px;
    padding-bottom: 21px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .page-header__logo {
    margin-right: 88px;
  }
  .header-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
@media screen and (min-width: 1200px) {
  .header-contacts__link {
    font-size: 14px;
  }
  .header-contacts__icon {
    margin-right: 10px;
  }
  .header-contacts__icon--tel {
    width: 10px;
    height: 16px;
  }
  .header-contacts__icon--mail {
    width: 16px;
    height: 12px;
  }
  .site-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 305px;
  }
  .site-nav__item:not(:last-child) {
    margin-right: 51px;
  }
  .page-header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 24px;
    padding-bottom: 25px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .page-header__logo {
    margin-right: auto;
  }
  .header-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-contacts__item:last-child {
    margin-bottom: 0px;
    margin-right: 30px;
  }
}
/*
.page-header {
    border-bottom: 1px solid $header-line;

    &__container {
        display: flex;    }
}



.site-nav {
    display: flex;
    align-items: center;

    &__list {
        display: flex;
    }
}

.site-nav__item:not(:last-child) {
    margin-right: 50px;
}

.site-nav__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    &:hover, &:focus {
        color: $accent-color;
    }
}

.site-nav__link,
.header-contacts__link {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $nav-color;

    transition: color $time $timing;
}



.site-nav__current {
    position: relative;
    color: $accent-color;

    &:hover, &:focus {
        color: $nav-color;
    }
}

.site-nav__current::after {
    position: absolute;
    bottom: 0;
    display: block;
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: $accent-color;
}


.header-contacts {
    display: flex;
    margin-left: auto;
    align-items: center;

    &__item+&__item {
        margin-left: 50px;
    }
}

.header-contacts__link {
    display: flex;
    align-items: center;
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    color: $second-color;

    &:hover, &:focus {
        color: $accent-color;
    }
}

.header-contacts__icon {
    margin-right: 10px;
    fill: currentColor;
}
*/
.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-480.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-480.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #2F303A;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero__title {
  margin-top: 0;
  margin-bottom: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  font-family: inherit;
  font-weight: 900;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.hero__button {
  padding: 10px 32px;
  min-width: 200px;
  text-align: center;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero@2x-480.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero@2x-480.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-768.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-768.jpg);
  }
}
@media screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero@2x-768.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero@2x-768.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-1200.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-1200.jpg);
  }
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}
@media screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero@2x-1200.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero@2x-1200.jpg);
  }
}
.button {
  display: inline-block;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background-color: #2196F3;
  cursor: pointer;
  border: none;
}
.button:hover, .button:focus {
  background-color: #188CE8;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-family: inherit;
  font-weight: 700;
  font-size: inherit;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
}

.features__text {
  line-height: 1.71;
  color: #757575;
}

.features__icon:not(:last-child) {
  margin-bottom: 30px;
}

.features__icon::before {
  display: block;
  content: "";
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #F5F4FA;
  margin-bottom: 30px;
}

.features__icon--antenna::before {
  background-image: url(../images/antenna.svg);
}

.features__icon--clock::before {
  background-image: url(../images/clock.svg);
}

.features__icon--diagram::before {
  background-image: url(../images/diagram.svg);
}

.features__icon--austronaut::before {
  background-image: url(../images/astronaut.svg);
}

@media screen and (min-width: 768px) {
  .features__title {
    text-align: left;
  }
  .features__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .features__icon {
    width: 354px;
  }
  .features__icon:nth-child(n+3) {
    margin-bottom: 0px;
  }
  .features__icon:nth-child(2n+1) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .features__icon {
    width: 270px;
    margin-bottom: 0px;
  }
  .features__icon:not(:last-child) {
    margin-right: 30px;
  }
}
/*
.features__icon {
    width: 270px;
}

.features__list {
    display: flex;
}

.features__icon:not(:last-child) {
    margin-right: 30px;
}

.features__title {
    margin-top: 0;
    margin-bottom: 10px;


    font-family: inherit;
    font-weight: 700;
    font-size: inherit;
    line-height: 1.14;
    text-transform: uppercase;
}

.features__text {
    line-height: 1.71;
    color: $second-color;
}

.features__icon::before {
    display: block;
    content: '';
    height: 120px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: $buttom-bgr;
    margin-bottom: 30px;
}

.features__icon--antenna::before {
    background-image: url(../images/antenna.svg);
}

.features__icon--clock::before {
    background-image: url(../images/clock.svg);
}

.features__icon--diagram::before {
    background-image: url(../images/diagram.svg);
}

.features__icon--austronaut::before {
    background-image: url(../images/astronaut.svg);
}
*/
@media screen and (max-width: 1199px) {
  .directions-section {
    display: none;
  }
}
.portfolio-section {
  padding-top: 0;
}

.directions__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.directions__img {
  max-width: 100%;
}

.directions__item {
  position: relative;
}
.directions__item:not(:last-child) {
  margin-right: 30px;
}

.directions__text {
  position: absolute;
  width: 100%;
  bottom: 0;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: inherit;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);
}

/*Заголовки h2*/
.section__title {
  margin-bottom: 50px;
  font-family: inherit;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.team {
  background-color: #F5F4FA;
}

.team__card {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #FFFFFF;
}

.team__foto {
  display: block;
  max-width: 100%;
  margin-bottom: 30px;
}

.team__person {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: #000000;
}

.sectio__title {
  color: #000000;
}

.team__position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: #757575;
  margin-bottom: 16px;
}

.nets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  padding-left: auto;
  padding-right: auto;
  margin-bottom: 30px;
}
.nets__item:not(:last-child) {
  margin-right: 10px;
}

.nets__icon {
  fill: currentColor;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nets__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  color: #AFB1B8;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nets__link:hover, .nets__link:focus {
  color: #FFFFFF;
  background-color: #2196F3;
}

.team__foto {
  width: 450px;
}

@media screen and (min-width: 768px) {
  .team__card {
    width: 354px;
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .team__foto {
    width: 354px;
  }
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
  }
  .nets {
    padding-left: 74px;
    padding-right: 74px;
  }
}
@media screen and (min-width: 1200px) {
  .team__card {
    width: 270px;
    margin-bottom: 0px;
  }
  .team__card:not(:last-child) {
    margin-right: 30px;
  }
  .team__card:last-child {
    margin-right: 0;
  }
  .nets {
    padding-left: 30px;
    padding-right: 30px;
  }
  .team__list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
/*

@media screen and (min-width: $desctop) {
    .team__foto {
        width: 270px;
    }
    .team__card:not(:last-child) {
        margin-right: 30px;
    }
}*/
/*.team__list {
    display: flex;
    justify-content: space-between;
}*/
.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 210px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-color: #AFB1B8;
  border-radius: 4px;
  color: #AFB1B8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  border-color: #2196F3;
  color: #2196F3;
}

.clients__icon {
  fill: currentColor;
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.clients__item:nth-child(2n+1) {
  margin-right: 30px;
}

.clients__item {
  margin-bottom: 30px;
}

.clients__item:last-child {
  margin-bottom: 0px;
}

@media screen and (min-width: 480px) {
  .clients__item:nth-last-child(-n+2) {
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 768px) {
  .clients__link {
    width: 226px;
  }
  .clients__item {
    margin-right: 30px;
  }
  .clients__item:nth-last-child(-n+2) {
    margin-bottom: 0px;
  }
  .clients__list {
    -ms-flex-preferred-size: calc(33.3333333333% - 60px);
        flex-basis: calc(33.3333333333% - 60px);
    margin-right: -30px;
    margin-bottom: -30px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 0;
  }
  .clients__link {
    width: 170px;
  }
}
/*

.cards {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
}

.cards__item {
    flex-basis: calc((100%/3) - 30px);
    margin-right: 30px;
    margin-bottom: 30px;
}*/
/*
.clients__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    border: 1px solid $nets-color;
    border-color: $nets-color;
    border-radius: 4px;
    color: $nets-color;

    transition: color $time $timing, border-color $time $timing;

    &:hover,
    &:focus {
        border-color: $accent-color;
        color: $accent-color;
    }
}

.clients__icon {
    fill: currentColor;
}

.clients__list {
    display: flex;
    justify-content: space-between;

}
*/
.footer {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}

.contacts__item {
  text-align: center;
}

.footer__logo {
  margin-bottom: 20px;
}

.contacts__adress,
.contacts__mail,
.contacts__tel {
  font-family: inherit;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.contacts__adress {
  color: #FFFFFF;
}

.contacts__item:not(:last-child) {
  margin-bottom: 8px;
}

.contacts {
  margin-bottom: 60px;
}

.contacts__mail,
.contacts__tel {
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__mail:hover,
.contacts__mail:focus,
.contacts__tel:hover,
.contacts__tel:focus {
  color: #FFFFFF;
}

.slogan {
  width: 206px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}

.slogan__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer-nets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

.footer-nets__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  color: #FFFFFF;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-nets__link:hover,
.footer-nets__link:focus {
  color: #FFFFFF;
  background-color: #2196F3;
}

.footer-nets__icon {
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .footer__contacts--tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    padding-left: 76px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .slogan {
    margin-left: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    text-align: left;
  }
  .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .contacts {
    margin-bottom: 0;
  }
  .footer__contacts--tablet {
    padding-left: 0;
  }
  .contacts__item {
    text-align: left;
  }
  .contacts__item:not(:last-child) {
    margin-bottom: 9px;
  }
  .contacts__item:last-child {
    margin-bottom: 0;
  }
  .slogan {
    margin-left: 70px;
  }
}
/*.footer {
    background-color: $bgc;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.contacts__item:not(:last-child) {
    margin-bottom: 9px;
}

.contacts__item:last-child {
    margin-bottom: 0;
}

.contacts__adress,
.contacts__mail,
.contacts__tel {
    font-family: inherit;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.contacts__adress {
    color: $white-color;

}

.contacts__mail,
.contacts__tel {
    color: $white-alfa-color;

    transition: color $time $timing;
}

.contacts__mail:hover,
.contacts__mail:focus,
.contacts__tel:hover,
.contacts__tel:focus {
    color: $white-color;
}

.slogan {
    width: 206px;
    margin-left: 70px;
}

.slogan__text {
    font-family: $main-font;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $white-color;

}

.footer-nets {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.footer-nets__link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    color: $white-color;
    width: 44px;
    height: 44px;
    border-radius: 50%;

    transition: background-color $time $timing;
}

.footer-nets__link:hover,
.footer-nets__link:focus {
    color: $white-color;
    background-color: $accent-color;
}

.footer-nets__icon {
    fill: currentColor;
}
*/
.footer-form {
  text-align: center;
}
.footer-form__label {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.12;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}
.footer-form__input {
  width: 100%;
  height: 50px;
  background-color: #2F303A;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px 16px;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}
.footer-form__input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form__input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form__input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 28px 10px 29px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
}
.footer-form__icon {
  margin-left: 10px;
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .footer-form__input {
    width: 450px;
  }
  .slogan {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .sign-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 12px;
  }
  .footer-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .footer-form__label {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.12;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  .footer-form__input {
    width: 358px;
    margin-bottom: 0;
  }
}
/*
.sign-form {
    display: flex;
    flex-direction: column;
    margin-right: 12px;
}

.footer-form {
    display: flex;
    margin-left: auto;
    align-items: flex-end;

    &__label {
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.12;
        text-transform: uppercase;
        color: $white-color;
    }

    &__input {
        width: 358px;
        height: 50px;
        background-color: $hero-color;
        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        padding: 15px 16px;
        color: $white-color;

        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.03em;
    }

    &__input::placeholder {
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.03em;
        color: $white-alfa-color;
    }

    &__button {
        display: flex;
        justify-content: center;
        padding: 10px 28px 10px 29px;
        height: 50px;
    }

    &__icon {
        margin-left: 10px;
        fill: currentColor;
    }
}
*/
.backdrop {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility cubic-bezier(0.4, 0, 0.2, 1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 40px;
  width: 450px;
  background-color: #FFFFFF;
}

.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  color: #000000;
  background-color: #FFFFFF;
}

.modal__close:hover {
  color: #2196F3;
}

.modal__icon {
  fill: currentColor;
}

.modal__text {
  margin-bottom: 12px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #212121;
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
  .modal__text {
    line-height: 1.15;
  }
}
/*
.modal {

    width: 528px;
}
.modal__text {
    line-height: 1.15;
}


.modal {
    position: absolute;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 40px;
    width: 528px;
    background-color: $white-color;
}

.modal__close {
    position: absolute;
    top: 8px;
    right: 8px;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;

    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    color: $main-color;
    background-color: $white-color;
}

.modal__close:hover {
    color: $accent-color;
}

.modal__icon {
    fill: currentColor;
}

.modal__text {
    margin-bottom: 12px;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    color: $nav-color;
}
*/
.form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
  color: #212121;
}
.form__label {
  margin-bottom: 4px;
  color: #757575;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form__input {
  width: 100%;
  padding: 11px 12px 11px 42px;
  font: inherit;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:focus,
.form__textarea:focus {
  outline: none;
  border: 1px solid #2196F3;
}

.form__icon {
  position: absolute;
  bottom: 0;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: currentColor;
}

.form__textarea::-webkit-input-placeholder {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__textarea::-moz-placeholder {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__textarea:-ms-input-placeholder {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__textarea::-ms-input-placeholder {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__textarea::placeholder {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form:focus-within > .form__icon {
  color: #2196F3;
}

.form__label:focus-within > .form__input {
  color: #2196F3;
  border: 1px solid #2196F3;
}

.form__textarea {
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  min-height: 120px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__textarea:not(:-moz-placeholder-shown) {
  border: 1px solid #2196F3;
}

.form__textarea:not(:-ms-input-placeholder) {
  border: 1px solid #2196F3;
}

.form__textarea:not(:placeholder-shown) {
  border: 1px solid #2196F3;
}

.form__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 55px 10px 56px;
}

.agreement {
  margin-bottom: 30px;
  margin-left: 0;
}
.agreement__label {
  position: relative;
  margin-left: 0px;
  font-size: 12px;
  line-height: 1.17;
  color: #757575;
}
.agreement__link {
  margin-left: 3px;
  color: #2196F3;
}
.agreement__icon {
  z-index: 1;
  color: #000000;
  background-color: #FFFFFF;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 16px;
  height: 15px;
}
.agreement__icon--empty {
  fill: currentColor;
  background-color: #FFFFFF;
}
.agreement__checkbox:checked + .agreement__icon {
  opacity: 0;
}
.agreement__icon--blue {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 16px;
  height: 15px;
}
.agreement__text {
  padding-left: 20px;
}

@media screen and (min-width: 1200px) {
  .agreement {
    margin-left: auto;
    margin-right: auto;
  }
  .agreement__label {
    position: relative;
    margin-left: 7px;
    font-size: 14px;
    line-height: 1.71;
  }
  .agreement__link {
    margin-left: 7px;
    color: #2196F3;
  }
  .agreement__text {
    padding-left: 23px;
  }
}
/*
.agreement {
    margin-left: auto;
    margin-right: auto;

    &__label {
        position: relative;

        margin-left: 7px;
        font-size: 14px;
        line-height: 1.71;
    }

    &__link {
        margin-left: 7px;
        color: $accent-color;
    }
&__text {
    padding-left: 23px;
}


.form {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    color: $nav-color;

    &__label {
        margin-bottom: 4px;
        color: $second-color;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.01em;
    }
}

.form__input {
    width: 100%;
    padding: 11px 12px 11px 42px;
    font: inherit;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color 250ms $timing;
}

.form__input:focus,
.form__textarea:focus {
    outline: none;
    border: 1px solid $accent-color;
}

.form__icon {
    position: absolute;
    bottom: 0;
    left: 12px;
    transform: translateY(-50%);

    fill: currentColor
}

.form__textarea::placeholder {
    font-family: $main-font, $secondary-font;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.form:focus-within>.form__icon {
    color: $accent-color;
}

.form__label:focus-within>.form__input {
    color: $accent-color;
    border: 1px solid $accent-color;
}

.form__textarea {
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px;
    min-height: 120px;
    transition: border-color 250ms $timing;
}

.form__textarea:not(:placeholder-shown) {
    border: 1px solid $accent-color;
}

.form__button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 55px 10px 56px;
}

.agreement {
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;

    &__label {
        position: relative;

        margin-left: 7px;
        font-size: 14px;
        line-height: 1.71;
        color: $second-color;
    }

    &__link {
        margin-left: 7px;
        color: $accent-color;
    }

    &__icon {
        z-index: 1;
        color: $main-color;
        background-color: $white-color;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 16px;
        height: 15px;
    }

    &__icon--empty {
        fill: currentColor;
        background-color: $white-color;
    }

    &__checkbox:checked+.agreement__icon {
        opacity: 0;
    }

    &__icon--blue {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 16px;
        height: 15px;
    }

    &__text {
        padding-left: 23px;
    }
}
*/
.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 40px;
}

.filter__item:nth-child(n+4) {
  margin-top: 15px;
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.filter__button {
  display: inline-block;
  border-radius: 4px;
  padding: 6px 22px;
  text-align: center;
  border: none;
  font-family: inherit;
  color: #000000;
  background-color: #F5F4FA;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter__button:hover, .filter__button:focus {
  color: #FFFFFF;
  background-color: #2196F3;
  border: none;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*Сетка из карточек*/
.card__link {
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card__link:hover {
  display: block;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card__thumb {
  position: relative;
  overflow: hidden;
  max-width: 450px;
}

.card__thumb > img {
  width: 450px;
  -o-object-fit: cover;
     object-fit: cover;
}

.card__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.card__bottom {
  width: 100%;
  padding: 20px 24px;
  border-left: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
}

.card__direction {
  font-size: 16px;
  line-height: 1.88;
  color: #757575;
}

.card__link:hover .card__text {
  bottom: 0;
  left: 0;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.card__text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 97px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  background-color: #2196F3;
  opacity: 0.9;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cards__item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 34px;
  }
  .filter__item:not(:last-child) {
    margin-right: 8px;
  }
  .filter__item:nth-child(n+4) {
    margin-top: 0px;
  }
  .cards__item {
    width: 354px;
    -ms-flex-preferred-size: calc(50% - 30px);
        flex-basis: calc(50% - 30px);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .card__thumb {
    max-width: 354px;
  }
  .card__thumb > img {
    max-width: 354px;
  }
  .card__text {
    width: 100%;
    height: 100%;
    padding: 49px 24px 77px 24px;
  }
  .cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
  }
  .cards__item:first-child > .card__link > .card__bottom {
    padding-bottom: 56px;
  }
}
@media screen and (min-width: 1200px) {
  .cards__item {
    width: 370px;
    -ms-flex-preferred-size: calc(33.3333333333% - 30px);
        flex-basis: calc(33.3333333333% - 30px);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .card__thumb {
    max-width: 370px;
  }
  .card__thumb > img {
    max-width: 370px;
  }
  .card__text {
    width: 100%;
    height: 100%;
    padding: 63px 24px;
  }
  .cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
  }
  .cards__item:first-child > .card__link > .card__bottom {
    padding-bottom: 20px;
  }
}
/*
.filter {
    display: flex;
    justify-content: center;
    margin-bottom: 50px; 
}

.filter__item:not(:last-child) {
    margin-right: 8px;
}
отменить:
.filter__item:nth-child(n+4) {
    margin-top: 15px;
}
.card__thumb {    
    width: 450px;
}
.card__thumb>img {
    max-width: 450px;
}
.card__text {

    width: 100%;
    height: 100%;
    padding...}



.filter__button {
    display: inline-block;
    border-radius: 4px;
    padding: 6px 22px;
    text-align: center;
    border: none;

    font-family: inherit;
    color: $main-color;
    background-color: $buttom-bgr;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    cursor: pointer;

    transition: color $time $timing, background-color $time $timing;

    &:hover,
    &:focus {
        color: $white-color;
        background-color: $accent-color;
        border: none;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}

.cards {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
}

.cards__item {
    flex-basis: calc((100%/3) - 30px);
    margin-right: 30px;
    margin-bottom: 30px;
}

.card__link {
    transition: box-shadow $time $timing;

    &:hover {
        display: block;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.card__thumb {
    position: relative;
    overflow: hidden;
}

.card__title {
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: $nav-color;
}

.card__bottom {
    padding: 20px 24px;
    border-left: 1px solid $card-border;
    border-bottom: 1px solid $card-border;
    border-right: 1px solid $card-border;
}

.card__direction {
    font-size: 16px;
    line-height: 1.88;
    color: $second-color;
}


.card__link:hover .card__text {
    bottom: 0;
    left: 0;
    transform: translateY(0);
}

.card__text {

    position: absolute;
    bottom: 0;
    left: 0;
    width: 370px;
    padding: 63px 24px;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: $white-color;
    background-color: $accent-color;
    opacity: 0.9;
    transform: translateY(100%);
    transition: transform $time $timing;
}
*//*# sourceMappingURL=main.css.map */