html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  background-color: #FFFFFF;
  color: #000000;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

img {
  display: block;
  max-width: 100%;
}

.page-header__logo {
  display: block;
  margin-right: 93px;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
}
.logo__part {
  color: #2196F3;
}

.footer__logo {
  display: block;
  margin-top: 0;
  margin-bottom: 20px;
  color: #FFFFFF;
}

.page-header {
  border-bottom: 1px solid #ECECEC;
}

/*
.page-header {
    border-bottom: 1px solid $header-line;

    &__container {
        display: flex;    }
}



.site-nav {
    display: flex;
    align-items: center;

    &__list {
        display: flex;
    }
}

.site-nav__item:not(:last-child) {
    margin-right: 50px;
}

.site-nav__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    &:hover, &:focus {
        color: $accent-color;
    }
}

.site-nav__link,
.header-contacts__link {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $nav-color;

    transition: color $time $timing;
}



.site-nav__current {
    position: relative;
    color: $accent-color;

    &:hover, &:focus {
        color: $nav-color;
    }
}

.site-nav__current::after {
    position: absolute;
    bottom: 0;
    display: block;
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: $accent-color;
}


.header-contacts {
    display: flex;
    margin-left: auto;
    align-items: center;

    &__item+&__item {
        margin-left: 50px;
    }
}

.header-contacts__link {
    display: flex;
    align-items: center;
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    color: $second-color;

    &:hover, &:focus {
        color: $accent-color;
    }
}

.header-contacts__icon {
    margin-right: 10px;
    fill: currentColor;
}
*/
/*
@import './components/hero';
@import './components/button';*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-family: inherit;
  font-weight: 700;
  font-size: inherit;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
}

.features__text {
  line-height: 1.71;
  color: #757575;
}

.features__icon:not(:last-child) {
  margin-bottom: 30px;
}

.features__icon::before {
  display: block;
  content: "";
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #F5F4FA;
  margin-bottom: 30px;
}

.features__icon--antenna::before {
  background-image: url(../images/antenna.svg);
}

.features__icon--clock::before {
  background-image: url(../images/clock.svg);
}

.features__icon--diagram::before {
  background-image: url(../images/diagram.svg);
}

.features__icon--austronaut::before {
  background-image: url(../images/astronaut.svg);
}

@media screen and (min-width: 768px) {
  .features__title {
    text-align: left;
  }
  .features__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .features__icon {
    width: 354px;
  }
  .features__icon:nth-child(n+3) {
    margin-bottom: 0px;
  }
  .features__icon:nth-child(2n+1) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .features__icon {
    width: 270px;
    margin-bottom: 0px;
  }
  .features__icon:not(:last-child) {
    margin-right: 30px;
  }
}
/*
.features__icon {
    width: 270px;
}

.features__list {
    display: flex;
}

.features__icon:not(:last-child) {
    margin-right: 30px;
}

.features__title {
    margin-top: 0;
    margin-bottom: 10px;


    font-family: inherit;
    font-weight: 700;
    font-size: inherit;
    line-height: 1.14;
    text-transform: uppercase;
}

.features__text {
    line-height: 1.71;
    color: $second-color;
}

.features__icon::before {
    display: block;
    content: '';
    height: 120px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: $buttom-bgr;
    margin-bottom: 30px;
}

.features__icon--antenna::before {
    background-image: url(../images/antenna.svg);
}

.features__icon--clock::before {
    background-image: url(../images/clock.svg);
}

.features__icon--diagram::before {
    background-image: url(../images/diagram.svg);
}

.features__icon--austronaut::before {
    background-image: url(../images/astronaut.svg);
}
*/
/*
@import './components/directions';
@import './components/team';
@import './components/clients';
@import './components/footer';
@import './components/footer-form';
@import './components/modal-window';
@import './components/modal-form';
@import './components/portfolio-page';
*//*# sourceMappingURL=main.css.map */