$main-color: #000000;
$bgc: #2F303A;
$hero-color: #2F303A;
$second-color: #757575;
$nav-color: #212121;
$buttom-bgr: #F5F4FA;
$header-line: #ECECEC;
$card-border: #EEEEEE;
$accent-color: #2196F3;
$add-blue: #188CE8;
$white-color: #FFFFFF;
$white-alfa-color: rgba(255, 255, 255, 0.6);
$nets-color: #AFB1B8;
$timing: cubic-bezier(0.4, 0, 0.2, 1);
$time: 250ms;

$main-font: Roboto;
$secondary-font: sans-serif;
$accent-font: Raleway;

$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;