.page-header {
    border-bottom: 1px solid $header-line;
}

/*
.page-header {
    border-bottom: 1px solid $header-line;

    &__container {
        display: flex;    }
}



.site-nav {
    display: flex;
    align-items: center;

    &__list {
        display: flex;
    }
}

.site-nav__item:not(:last-child) {
    margin-right: 50px;
}

.site-nav__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    &:hover, &:focus {
        color: $accent-color;
    }
}

.site-nav__link,
.header-contacts__link {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $nav-color;

    transition: color $time $timing;
}



.site-nav__current {
    position: relative;
    color: $accent-color;

    &:hover, &:focus {
        color: $nav-color;
    }
}

.site-nav__current::after {
    position: absolute;
    bottom: 0;
    display: block;
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: $accent-color;
}


.header-contacts {
    display: flex;
    margin-left: auto;
    align-items: center;

    &__item+&__item {
        margin-left: 50px;
    }
}

.header-contacts__link {
    display: flex;
    align-items: center;
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    color: $second-color;

    &:hover, &:focus {
        color: $accent-color;
    }
}

.header-contacts__icon {
    margin-right: 10px;
    fill: currentColor;
}
*/