.page-header {
    border-bottom: 1px solid $header-line;
}

.menu__open--icon {
    fill: currentColor;
}

.site-nav__link {
    font-family: inherit;
    color: $nav-color;
    font-weight: 500;
    letter-spacing: 0.02em;

    transition: color $time $timing;
    &:hover, &:focus {
        color: $accent-color;
    }
}
.site-nav__current {
    color: $accent-color;

    &:hover,
    &:focus {
        color: $nav-color;
    }
}
.header-contacts__link {
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: $second-color;

    &:hover,
    &:focus {
        color: $accent-color;
    }
}

.header-contacts__icon {
    margin-right: 10px;
    fill: currentColor;
}

@media screen and (max-width: 767px) {
    .menu.is-hidden {
        opacity: 0;
        pointer-events: none;
    }
    .page-header__container {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .page-header {
        padding-top: 16px;
        padding-bottom: 16px;
    }
    .page-header__logo {
        display: block;
    }
    .menu {
        position: relative;
        position: absolute;
        top: 0;
        left: 0;
        background-color: $white-color;
        width: 100%;
        padding: 48px 40px;
    }
    .menu__open, .menu__close {
        width: 40px;
        height: 40px;
        display: block;
        padding: 0;
        border: none;
        outline: none;
        color: $nav-color;
        background-color: $white-color;
        
        }
    .menu__open:focus, .menu__open:hover, .menu__close:focus, .menu__close:hover {
        color: $accent-color;
    }
    
    .menu__close {
        position: absolute;
        top:0;
        right: 15px;
        &:hover, &:focus {
            color: $accent-color;
        }
    }
    
    .site-nav__link {
        font-size: 40px;
        line-height: 1.17;
    }
    .site-nav__item:not(:last-child) {
        margin-bottom: 32px;
    }
    .site-nav__item:last-child {
        margin-bottom: 302px;
    }
    .header-contacts__icon {
        display: none;
    }
    .header-contacts__item:not(:last-child) {
        margin-bottom: 32px;
    }
    .header-contacts__item:last-child {
        margin-bottom: 64px;
    }
    .header-contacts__item:not(:last-child) > .header-contacts__link {
        font-size: 34px;
        line-height: 1.18;
        letter-spacing: 0.02em;
        color: $accent-color;
        
            &:hover,
            &:focus {
                color: $second-color;
            }
    }
    .header-contacts__item:last-child>.header-contacts__link {
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.02em;
    }
    .social-names__item {
        list-style: none;
    }
    .social-names__item:not(:last-child) {
        padding-right: 10px;
        border-right: 1px solid rgba(33, 33, 33, 0.2)
    }
    .social-names__item:not(:first-child) {
        padding-left: 10px;
    }
    .social-names {
        display: flex;
        justify-content: left;
        flex-wrap: wrap;
        padding-left: 0;
    }

    
    .social-names__link {
        font-family: inherit;
        font-weight: 500;
        font-size: 18px; 
        line-height: 1.22;
        letter-spacing: 0.02em;
        color: $accent-color;

        &:hover, &:focus {
            color: $nav-color;
        }
    }
    

}

@media screen and (min-width: $tablet) {
    .menu__open, .menu__close {
        display: none;
    }
    .social-names {
        display: none;
    }
    .site-nav__link {
        font-size: 14px;
    }
    .header-contacts__link {
        font-size: 12px;
        
    }
    .header-contacts__icon {
        margin-right: 8px;
    }
    .header-contacts__icon--tel {
        width: 10px;
        height: 14px;    
    }

    .header-contacts__icon--mail {
        width: 14px;
        height: 10px;
    }
    .header-contacts__item:first-child {
        margin-bottom: 10px;
    }
    .site-nav__list {
        display: flex;
        margin-right: 84px;
    }
    .site-nav__item:not(:last-child) {
        margin-right: 50px;
    }
    .page-header__container {
        display: flex;
        padding-top: 21px;
        padding-bottom: 21px;
        align-items: center;
    }
    .menu {
        display: flex;
        align-items: center;

    }
    .page-header__logo {
        margin-right: 88px;
    }

}

/*
.page-header {
    border-bottom: 1px solid $header-line;

    &__container {
        display: flex;    }
}



.site-nav {
    display: flex;
    align-items: center;

    &__list {
        display: flex;
    }
}

.site-nav__item:not(:last-child) {
    margin-right: 50px;
}

.site-nav__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    &:hover, &:focus {
        color: $accent-color;
    }
}

.site-nav__link,
.header-contacts__link {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $nav-color;

    transition: color $time $timing;
}



.site-nav__current {
    position: relative;
    color: $accent-color;

    &:hover, &:focus {
        color: $nav-color;
    }
}

.site-nav__current::after {
    position: absolute;
    bottom: 0;
    display: block;
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: $accent-color;
}


.header-contacts {
    display: flex;
    margin-left: auto;
    align-items: center;

    &__item+&__item {
        margin-left: 50px;
    }
}

.header-contacts__link {
    display: flex;
    align-items: center;
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    color: $second-color;

    &:hover, &:focus {
        color: $accent-color;
    }
}

.header-contacts__icon {
    margin-right: 10px;
    fill: currentColor;
}
*/