.hero {
    $gradient-color: rgba(47, 48, 58, 0.4);
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right,
        $gradient-color,
        $gradient-color),
        url(../images/hero-480.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    background-color: $hero-color;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    
    &__title {
    margin-top: 0;
    margin-bottom: 0;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    font-family: inherit;
    font-weight: 900;
    
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $white-color;    
    }
}

.hero__button {
    padding: 10px 32px;
    min-width: 200px;
    text-align: center;
}

@media (min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(to right,
                    $gradient-color,
                    $gradient-color),
                    url(../images/hero@2x-480.jpg);
    }
}

@media screen and (min-width: $tablet) {
    .hero {
        background-image: linear-gradient(to right,
            $gradient-color,
            $gradient-color),
            url(../images/hero-768.jpg);
    }
        @media (min-resolution: 2dppx) {
            .hero {
                background-image: linear-gradient(to right,
                        $gradient-color,
                        $gradient-color),
                    url(../images/hero@2x-768.jpg);
            }
        }
}

@media screen and (min-width: $desktop) {
    .hero {
        background-image: linear-gradient(to right,
                $gradient-color,
                $gradient-color),
            url(../images/hero-1200.jpg);
        &__title {
                font-size: 44px;
                line-height: 1.36;
            }
    }

    @media (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(to right,
                    $gradient-color,
                    $gradient-color),
                url(../images/hero@2x-1200.jpg);
        }
    }
}
