.page-header__logo {
    display: block;
    margin-right: 93px;
}

.logo {
    font-family: $accent-font, $secondary-font;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: $main-color;

    &__part {
        color: $accent-color;
    }
}

.footer__logo {
    display: block;
    margin-top: 0;
    margin-bottom: 20px;

    color: $white-color;
}