.form {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    color: $nav-color;

    &__label {
        margin-bottom: 4px;
        color: $second-color;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.01em;
    }
}

.form__input {
    width: 100%;
    padding: 11px 12px 11px 42px;
    font: inherit;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color 250ms $timing;
}

.form__input:focus,
.form__textarea:focus {
    outline: none;
    border: 1px solid $accent-color;
}

.form__icon {
    position: absolute;
    bottom: 0;
    left: 12px;
    transform: translateY(-50%);

    fill: currentColor
}

.form__textarea::placeholder {
    font-family: $main-font, $secondary-font;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.form:focus-within>.form__icon {
    color: $accent-color;
}

.form__label:focus-within>.form__input {
    color: $accent-color;
    border: 1px solid $accent-color;
}

.form__textarea {
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px;
    min-height: 120px;
    transition: border-color 250ms $timing;
}

.form__textarea:not(:placeholder-shown) {
    border: 1px solid $accent-color;
}
.form__button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 55px 10px 56px;
}
.agreement {
    margin-bottom: 30px;
    margin-left: 0;

    &__label {
        position: relative;
    
        margin-left: 0px;
        font-size: 12px;
        line-height: 1.17;
        color: $second-color;
        }

    &__link {
        margin-left: 3px;
        color: $accent-color;
    }

    &__icon {
        z-index: 1;
        color: $main-color;
        background-color: $white-color;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 16px;
        height: 15px;
    }

    &__icon--empty {
        fill: currentColor;
        background-color: $white-color;
    }

    &__checkbox:checked+.agreement__icon {
        opacity: 0;
    }

    &__icon--blue {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 16px;
        height: 15px;
    }

    &__text {
        padding-left: 20px;
    }
}

@media screen and (min-width: $desktop) {
    .agreement {
        margin-left: auto;
        margin-right: auto;
    }
    .agreement__label {
        position: relative;
        
        margin-left: 7px;
        font-size: 14px;
        line-height: 1.71;
    }
    .agreement__link {
        margin-left: 7px;
        color: $accent-color;
    }
    .agreement__text {
        padding-left: 23px;
    }
}    

/*
.agreement {
    margin-left: auto;
    margin-right: auto;

    &__label {
        position: relative;

        margin-left: 7px;
        font-size: 14px;
        line-height: 1.71;
    }

    &__link {
        margin-left: 7px;
        color: $accent-color;
    }
&__text {
    padding-left: 23px;
}


.form {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    color: $nav-color;

    &__label {
        margin-bottom: 4px;
        color: $second-color;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.01em;
    }
}

.form__input {
    width: 100%;
    padding: 11px 12px 11px 42px;
    font: inherit;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color 250ms $timing;
}

.form__input:focus,
.form__textarea:focus {
    outline: none;
    border: 1px solid $accent-color;
}

.form__icon {
    position: absolute;
    bottom: 0;
    left: 12px;
    transform: translateY(-50%);

    fill: currentColor
}

.form__textarea::placeholder {
    font-family: $main-font, $secondary-font;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.form:focus-within>.form__icon {
    color: $accent-color;
}

.form__label:focus-within>.form__input {
    color: $accent-color;
    border: 1px solid $accent-color;
}

.form__textarea {
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px;
    min-height: 120px;
    transition: border-color 250ms $timing;
}

.form__textarea:not(:placeholder-shown) {
    border: 1px solid $accent-color;
}

.form__button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 55px 10px 56px;
}

.agreement {
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;

    &__label {
        position: relative;

        margin-left: 7px;
        font-size: 14px;
        line-height: 1.71;
        color: $second-color;
    }

    &__link {
        margin-left: 7px;
        color: $accent-color;
    }

    &__icon {
        z-index: 1;
        color: $main-color;
        background-color: $white-color;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 16px;
        height: 15px;
    }

    &__icon--empty {
        fill: currentColor;
        background-color: $white-color;
    }

    &__checkbox:checked+.agreement__icon {
        opacity: 0;
    }

    &__icon--blue {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 16px;
        height: 15px;
    }

    &__text {
        padding-left: 23px;
    }
}
*/
